<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Signup</title>
  </head>
  <body>
    <h1>All your info!</h1>
    <p>Name: {{name}}</p>
    <p>Born On: {{birth}}</p>
    <p>Your Job: {{position}}</p>
    <p>I know your password!: {{password}}</p>
  </body>
</html>
